.App-Header {
  background-color: #ffffff;
  height: 50px;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom-color: lightgrey;
  border-bottom-width: 3px;
  border-style: solid;
  box-shadow: 0px 0px 20px lightgrey;
}

.App-logo {
  height: 50px;
  pointer-events: none;
}

.Header-Container {
  width: 90vw;
  height: 44px;
  margin: auto;
  margin-top: 3px;
  position: relative;
}

.Login-Button {
  width: 100px;
  height: 36px;
  right: 10px;
  position: absolute;
  /*use top and transform to center vertically*/
  top: 50%;
  transform: translateY(-50%);
}