$sidebar-bg-color: #2E5C6E;
$submenu-bg-color: #2a5161;
$icon-bg-color: #2E5C6E;
$sidebar-color: #ffffff;
$icon-size: 22px;
$sidebar-width: 230px;
$sidebar-collapsed-width: 80px;

@import '~react-pro-sidebar/dist/scss/styles.scss';